* {
  margin: 0;
  padding: 0;
  box-sizing:"Border-box";
}

:root {
  --link-color: #757575;
  --text-font-family: "Roboto", "sans-serif";
  --social-bacground-icon-color: #ffff ;
  --social-icon-color:#AFB1B8 ;
  --social-icon-hover-color:#2196F3 ;
  --brand-color: #212121;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--text-font-family);
}
ul {
  list-style-type: none;
}
.img {
  display: block;
  width: 100%;
}
  .container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
} 

a {
  transition: color var(--transition);
  text-decoration: none;
}

/*--------------HEADER-----------*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 500;
  padding: 24px 0;
  letter-spacing: 0.28px;
  display: block;
  text-decoration:none;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-logo {
  color: #000000;
  font-size: 26px;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  letter-spacing: 0.78px;
  display: flex;
  text-decoration:none;
}
.header-half-logo {
  color: #2196f3;
}
.header-contact {
  display: flex;
  gap: 40px;  

}
.header-cont-link {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.28px;
  align-items: center;
  text-decoration:none;
}
.header-cont-link:hover,
.header-cont-link:focus {
  color: #2196f3;
  transition: color var(--transition);
}
.contact-adress-icon { color: var(--social-icon-color);
}
.contact-adress-icon {
  width: 16px;
  height: 16px;
  align-items: center;
}
.contact-adress-icon:hover,
.contact-adress-icon:focus {
  color: var(--social-icon-hover-color);
}
.current {
  position: relative;
  color: #2196F3;
}
.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  width: 100%;
}

/*---------------------HERO----------------------***/
.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/background-img.jpg) #C4C4C4;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-family: var(--text-font-family);
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  padding-top: 200px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.book-a-service-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 1, 8;
  letter-spacing: 0.96px;
  background: #2196f3;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 auto;
}
.book-a-service-btn:hover,
.book-a-service-btn:focus {
  background-color: #006994;
  transition: color var(--transition);
}

/*-------------Main Services----------------*/
.services {
  padding-top: 94px;
}
.main-services {
  color: #212121;
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 10px;
}
.services-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 25px 0;
}
.services-list {
  display: flex;
  gap: 30px;
}
.service-description {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--text-font-family);
  line-height: 1, 7;
  letter-spacing: 0.42px;
  max-width: 270px;
}
.team-section {
  background: #F5F4FA;
}
.section-tittle {
  padding-top: 94px;
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.images-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.motto-cards-elements {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px; 
  margin: 0 auto;
}

.service-img-title {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  color: #FFF;
  font-family: var(--text-font-family);
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase; 
}
/*--------------TEAM-----------------*/
.team-section {
  background: #fff;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-images {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-names {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-ocupation {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  letter-spacing: 0.48px;
  margin-top: 10px;
  padding-bottom: 30px;
}
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-tittle {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.icons-list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: var(--social-bacground-icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-icon-color);
}
.icons-list .icon:hover,
.icons-list .icon:focus {
  color: var(--social-icon-hover-color);
  border-radius: 22px;
  background-color: var(--social-icon-hover-color);
  fill: var(--social-bacground-icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list .icon svg {
  width: 20px;
  height: 20px;
}
/*-----------------------CUSTOMERS------------------------*/

.customers {
  padding: 120px 0;
}
.customers-tittle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.customers-list-icons {
  display: flex;
  gap: 30px;
}
.ctmrs-item-icons {
  width: calc((100% - 120px) / 6);
  height: 60px;
}
.custmers-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon-color );
  transition: var(--transition);
}
.custmers-icons:hover,
.custmers-icons:focus {
  fill: #2196f3 ;
  border-color: #2196f3;
}

/*----------Footer--------------*/
.footer-section {
  display: block;
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-container{
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.78px;
  display: inline-block;
  margin-bottom: 28px;
  text-decoration:none;
}
.footer-half-logo {
  color: #2196f3;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-family: var(--text-font-family);
  letter-spacing: 0.42px;
  margin-bottom: 12px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: var(--text-font-family);
  letter-spacing: 0.42px;
  margin-bottom: 12px;
  text-decoration:none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}

/*Social Footer*/

.footer-soc-text {
color: var(--social-bacground-icon-color);
font-family: var(--text-font-family);
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.footer-soc {
  width: 206px;
  margin-left: 94px;
}
.footer-item-icons {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #757575; 
  fill: #ffffff;
  padding: 12px;
  margin-top: 20px;
}
.footer-soc-list {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
.footer-item-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer-item-icons:hover,
.footer-item-icons:focus {
  background-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.... Footer-subscribe...*/


.form-footer {
  padding-left: 93px;
}
.footer-form {
  display: flex;
  gap: 24px;

}

.form-text {
  color: #FFF;
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;

}
.footer-form-btn {
  min-width: 200px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  background-color:#2196F3;
  border: none;
  border-radius: 4px;
  line-height: 30px;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 10px;
margin-left: 12px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--social-icon-hover-color);
}
.footer-icon {
 fill: #FFF;
 margin-left: 13px;

}


/*!------------------PORTOFOLIO--------------------!*/

.main-portofolio {
  padding-top: 132px;
  padding-bottom: 94px;
}
.main-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 50px;
  transition: color var(--transition);
}
.portofolio-button {
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.48px;
  border: grey;
  margin-right: 6px;
  padding: 8px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.portofolio-button:hover,
.portofolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portofolio-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 94px;
  column-gap: 30px;
  row-gap: 30px;
}
.portofolio-tittle {
  color: #212121;
  font-size: 18px;
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
}
.portofolio-description {
  color: #757575;
  font-size: 16px;
  font-family: var(--text-font-family);
  line-height: 1, 8;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}
.portofolio-box {
  border: 1px solid #eee;
  border-top: none;
  width: 100%;
}
.portofolio-box:hover,
.portofolio-box:focus { box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: color var(--transition);
}
/*...Overlayers Images...*/

.link-portofolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portofolio:hover,
.link-portofolio:focus {
  transform: translateY(0%);
}
.link-portofolio:hover .overlay-text,
.link-portofolio:focus .overlay-text{
  transform: translateY(0%);
  background: #2196F3;
}

.overlay-port {
  position: relative;
  overflow: hidden;
}
.scroll {
  position: relative;

}
.overlay-text {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  font-family: var(--text-font-family);
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase; 
  width: 100%;
  height: 100%;
  padding: 63px 24px 91px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

/*....Modal...*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--transition), visibility var(--transition);
}
.modal-content {
  padding: 16px;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close-btn {
  border: 5px solid white;
  color: #000000;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50% ;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: color var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Formular Modal */

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-icon svg{
  position: absolute;
  color: black;
  top:50px;
  left:12px;

}


